<% if @story.errors.any? %>
    The following errors prevented you from saving you story:
    <ul>
      <% @story.errors.full_messages.each do |error| %>
          <li>
            <%= error %>
          </li>
      <% end %>
    </ul>
<% end %>
<h1>Create a new story</h1>
<fieldset>
  <ul>
    <%= form_for @story do |f| %>
        <li>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </li>
        <li>
          <%= f.label :link %>
          <%= f.text_field :link %>
        </li>
        <li>
          <%= f.label :category %>
          <%= f.text_field :category %>
        </li>

        <%= f.submit %> | <%= link_to "Cancel", root_path %>
    <% end %>
  </ul>
</fieldset>