<h1><%= link_to @story.title, @story.link %></h1>
<p>Current Upvotes: <%= @story.upvotes %></p>
<p>Categories: <%= convert_to_tags_links @story.tag_list %></p>

Comments:
<%= form_tag "" do %>
    <div>
      <%= text_area_tag :comment, "", placeholder: 'Enter a comment', :cols => 40, :rows => 6 %>
    </div>
    <%= submit_tag "Add Comment" %>
<% end %>
