<!DOCTYPE html>
<html>
<head>
  <title>Rewsly</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>
    <%= link_to "Rewsly", root_path %>
  </h1>
</header>
<%= form_tag 'search', method: :get do %>
    <%= search_field_tag :q, "", placeholder: 'Search' %>
    <%= submit_tag "Search" %>
<% end %>

<%= yield %>

</body>
</html>
